{% extends 'blog/base.html' %}

{% block title %}Edit Comment - Django Blog{% endblock %}

{% block content %}
<section class="auth-container">
    <h2>Edit Comment</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="post-actions">
            <button type="submit" class="btn">Update Comment</button>
            <a href="{% url 'post-detail' comment.post.pk %}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</section>
{% endblock %}
